@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes scroll-slow {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll-slow {
    animation: scroll-slow 50s linear infinite;
  }
}

/* index.css */
/* Pura page ka default cursor hide karo */
html, body, * {
  cursor: none !important;
}